body {
  background: url(../assets//images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
 }